

<h1> AVALIAÇÃO DIÁRIA </h1>

<form action="#" method="POST">{% csrf_token %}
    <span class="bold">Nome</span>
    <input class="form-control input-form" name="usuario" type="text" placeholder="Digite seu nome...">
    <br>

    <span class="bold">Avaliação do dia</span>
       
    </div>
    <br>


    <select name="select">
        <option value="valor1">Valor 1</option>
        <option value="valor2">Valor 2</option>
        <option value="valor3">Valor 3</option>
    </select>
    

    <button class="btn-first">Registrar Acontecimento</button>

</form>